strict-peer-dependencies=false
init.author.name = deployment
init.author.email = changeme1@yourcompany.com
# init.author.url = http://118.121.206.69:8081/nexus/content/repositories/hxnpm/
# 外网地址
init.author.url = http://www.cdhx.top:8082/nexus/content/groups/npm-all/
# 内网地址
# init.author.url =  http://10.168.0.210:8082/nexus/content/groups/npm-all/
email=changeme1@yourcompany.com
always-auth=true
_auth=ZGVwbG95bWVudDpkZXZsb3AxMjM=
# 外网
# http://10.168.0.210:8082/nexus/content/groups/npm-all/
# 内网
registry=http://10.168.0.210:8082/nexus/content/groups/npm-all/